{% extends "layout.html" %}
{% block title %}Электрика{% endblock %}
{% block page_content %}

    <section id="electric" class="service-item">
    <div class="container">
      <div class="center wow fadeInDown">
        <h2>Электрика</h2>
        <p class="lead">
            Монтаж электропроводки это  мероприятие, требующее ответственного подхода,
            поэтому если нет уверенности в своих силах, (знания, опыт),
            лучше не предпринимать попытки сделать эту работу своими руками.
            Тем, кто решился на столь серьезный шаг, мы постараемся облегчить задачу.
        </p>
         <a class="btn btn-primary readmore" href="#portfolio">Посмотреть наши работы <i class="fa fa-angle-right"></i></a>
       </div>

      <!--/.row-->
    </div>
    <!--/.container-->
  </section>
  <!--/#services-->
  <section id="feature" class="transparent-bg" style="padding-bottom: 0;">
       <div class="container">
       <div class="clients-area center wow fadeInDown">
        <h2>Основные моменты</h2>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="media services-wrap wow fadeInDown" style="background-color: #f5f5f5;">
            <div class="pull-left">
              <img class="img-responsive" style="border: solid 1px gray;" src="static/images/electric/schit.png">
            </div>
            <div class="media-body">
              <h3 class="media-heading">Расположение электрощита</h3>
              <p>Он не должен быть легкодоступен для детей; его расположение должно быть либо у входа,
                  либо максимально близко к геометрическому центру квартиры;
              рядом с ним не должны располагаться легковоспламеняющихся материалы.</p>
            </div>
          </div>
        </div>
      <div class="col-sm-12 col-md-12">
      <div class="media services-wrap wow fadeInDown" style="background-color: #f5f5f5;">
        <div class="pull-left">
          <img class="img-responsive" style="border: solid 1px gray;" src="static/images/electric/rozetka.png">
        </div>
        <div class="media-body">
          <h3 class="media-heading">Расположение точек электропотребления</h3>
          <p>Для удобства рисуем схему. Это в дальнейшем поможет
              рассчитать количество материала, необходимого для монтажных работ.
              Вычисляем потребляемую мощность каждой электрической цепочки и в
              соответствии с этими данными подбираем
              сечение проводов и мощность автоматов, которые будут
              установлены в щитке.</p>
        </div>
      </div>
        </div>
      <div class="col-sm-12 col-md-12">
      <div class="media services-wrap wow fadeInDown" style="background-color: #f5f5f5;">
        <div class="pull-left">
          <img class="img-responsive" style="border: solid 1px gray;" src="static/images/electric/provodka.png">
        </div>
        <div class="media-body">
          <h3 class="media-heading">Способ монтажа проводки</h3>
          <p>Если это новое помещение, то есть отделка ещё не завершена,
              желательно делать скрытую проводку, так как это более эстетично.
              Если как говорится, «уже поздно» проводку монтируют открытым способом
              (в коробах или гофре) Желательно, на точки электропотребления с
              высокой мощностью (электроплита, бойлер, кухонный комбайн и пр.)
              делать отдельную линию на каждую розетку.</p>
        </div>
      </div>
        </div>
          <div class="col-sm-12 col-md-12">
      <div class="media services-wrap wow fadeInDown" style="background-color: #f5f5f5;">
        <div class="pull-left">
          <img class="img-responsive" style="border: solid 1px gray;" src="static/images/electric/korobka.png">
        </div>
        <div class="media-body">
          <h3 class="media-heading">Прочее</h3>
          <p>Для проводки лучше всего использовать медный провод,
              так как он обладает следующими преимуществами: при равном сечении жилы выдерживает
              большую нагрузку, чем алюминиевый; отличается износостойкостью и выносливостью
              на излом; не сжимается со временем, в отличии от алюминия, поэтому не
              создают зазоров в соединениях. <br/><br/>
              Необходимо так же  смонтировать заземление, которое поможет безопасно использовать электроприборы

          </p>
        </div>
      </div>
        </div>

      </div>
      <div class="clients-area center wow fadeInDown" style="padding-top: 0;">
        <h2 style="font-size: 24px;">Подробно описать  все этапы и нюансы работ в рамках одного материала проблематично да и не нужно.</h2>
      </div>

    </div>
    <!--/.container-->
  </section>

    <section id="portfolio" style="margin-top: 0; padding-top: 0;">
        <div class="container">
             <a name="portfolio" class="anchor"> </a>
            <div class="center">
                <h2>Наши работы</h2>
                <p class="lead">Если Вам необходимо качественно выполнить электромонтажные работы - звоните +7 (911)
                    626-89-65</p>
            </div>

            {% include "photosgrid.html" %}

        </div>
    </section>

{% endblock %}