{% extends "layout.html" %}
{% block title %}Главная{% endblock %}
{% block page_content %}

    <div class="slider">
        <div class="container">
            <img src="static/images/site_logo.jpg" class="img-responsive" alt="">
        </div>
    </div>

    <section id="feature">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Уважаемые клиенты</h2>
                <p class="lead">Предлагаем вам услуги по поставкам, монтажу, и обслуживанию оборудования в следующих
                    сферах</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-sun-o"></i>
                            <h2>Отопление</h2>
                            <h3>Системы на газе, угле, дровах, электричестве</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-tint"></i>
                            <h2>Водоснабжение</h2>
                            <h3>Насосные станции, системы фильтрации</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-tint"></i>
                            <h2>Водоотведение</h2>
                            <h3>Канализация, дренаж, очистка сточных вод</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bolt"></i>
                            <h2>Электрика</h2>
                            <h3>Монтаж "под ключ" в квартирах, офисах, домах</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-asterisk"></i>
                            <h2>Вентиляция</h2>
                            <h3>Подготовительные работы, монтаж, пуско-наладка</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-gears"></i>
                            <h2>Общестроительные работы</h2>
                            <h3>Дома, бани, беседки и прочее</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                </div>
                <!--/.services-->
            </div>
            <!--/.row-->

            <div class="center wow fadeInDown">
                <p class="lead" style="font-size: 20px; color: #404040;"><b>Оборудование, в том числе газовое, установленное нами, <br/>
                    берется на гарантийное и послегарантийное обслуживание.</b></p>
                <h2 style="margin-bottom: 0; color: #f39200;">С нами уютней и теплее!</h2>
            </div>

        </div>
        <!--/.container-->
    </section>
    <!--/#feature-->

    <section id="portfolio" style="margin-top: 0;">
        <div class="container">
            <div class="center">
                <h2>Наши работы</h2>
            </div>

            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">Все фотографии</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".heating">Отопление</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".watersupply">Водоснабжение</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".electric">Электрика</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".ventilation">Вентиляция</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".constructing">Строительство</a></li>
            </ul>
            <!--/#portfolio-filter-->
            {% include "photosgrid.html" %}
        </div>
    </section>
    <!--/#portfolio-item-->

{% endblock %}