{% extends "layout.html" %}
{% block title %}Контакты{% endblock %}
{% block page_content %}

     <div class="slider">
        <div class="container">
            <img src="static/images/contacts.jpg" class="img-responsive" style="margin-left: auto; margin-right: auto;" alt="">
        </div>
    </div>

    <section id="about-us" style="padding-top: 0;">
    <div class="container">
      <div class="skill-wrap clearfix">
        <div class="center wow fadeInDown">
          <h2>Контакты</h2>
        </div>
        <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-4 col-sm-offset-2 col-md-offset-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-phone"></i>
                            <h2>Телефон</h2>
                            <h3>+7 (911) 626-89-65</h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-envelope-o"></i>
                            <h2>Электронная почта</h2>
                            <h3><a href="mailto:info@mvstroy53.ru">info@mvstroy53.ru</a></h3>
                        </div>
                    </div>
                </div>
        </div>

      </div>
      <!--section-->
    </div>
    <!--/.container-->
  </section>
  <!--/about-us-->


{% endblock %}