{% extends "layout.html" %}
{% block title %}Контакты{% endblock %}
{% block page_content %}

    {# <div class="slider">
        <div class="container">
            <img src="static/images/contacts.jpg" class="img-responsive" style="margin-left: auto; margin-right: auto;" alt="">
        </div>
    </div>#}

    <section id="about-us" style="padding-top: 10px; margin-top: 70px;">
    <div class="container">
      <div class="skill-wrap clearfix">
        <div class="center wow fadeInDown">
          <h2>Контакты</h2>
        </div>
        <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-4 col-sm-offset-2 col-md-offset-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-phone"></i>
                            <h2>Телефон</h2>
                            <h3><a href="tel:+79116268965" style="color: black;">+7 (911) 626-89-65</a></h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-envelope-o"></i>
                            <h2>Электронная почта</h2>
                            <h3><a href="mailto:info@mvstroy53.ru" style="color: black;">info@mvstroy53.ru</a></h3>
                        </div>
                    </div>
                </div>
        </div>
        <div class="center wow fadeInDown" style="padding-bottom: 35px;">
          <h2 style="font-size: 32px; margin-top: 50px; color: #757575;">Наши друзья и партнеры</h2>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 wow fadeInDown">
              <div class="clients-comments text-center">
                <a href="https://vk.com/eduardfedotow" target="_blank"><img src="static/images/fedotov.png" class="img-circle" alt=""></a>
                <h3>Ведущий на праздник.Шоумен. М.Вишера, В.Новгород</h3>
                <h4>Свадьбы. Юбилеи. Корпоративы. Каждый праздник, безусловно - дружно, весело, задорно!</h4>
                <h4><a href="tel:+79517227243" style="color: black;"><i class="fa fa-phone"></i>&nbsp;+7 (951) 722-72-43</a></h4>
                <ul class="social-share">
                  <li><a href="https://vk.com/eduardfedotow" target="_blank"><i class="fa fa-vk"></i></a></li>
                  <li><a href="https://www.instagram.com/fedotov_53" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
        </div>
      </div>
      <!--section-->
    </div>
    <!--/.container-->
  </section>
  <!--/about-us-->


{% endblock %}