{% extends "layout.html" %}
{% block title %}Вентиляция{% endblock %}
{% block page_content %}

    <section id="ventilation" class="service-item">
    <div class="container">
      <div class="center wow fadeInDown">
        <h2>Вентиляция</h2>
        <p class="lead">
            Вентиляцией называется процесс удаления отработанного воздуха из
            помещения и замена его наружным. <br/>В необходимых случаях при этом
            проводится: кондиционирование, фильтрация, подогрев или охлаждение,
            увлажнение или осушение, ионизация и т. д.
        </p>
         <a class="btn btn-primary readmore" href="#portfolio">Посмотреть наши работы <i class="fa fa-angle-right"></i></a>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </section>
  <!--/#services-->
  <section id="feature" class="transparent-bg" style="padding-bottom: 0;">
    <div class="container">
       <div class="clients-area center wow fadeInDown">
        <h2>Вентиляция в частном секторе</h2>
        <p class="lead">Если говорить о частном секторе, то вытяжки должны устанавливаться в следующих местах:</p>
      </div>

      <div class="row">
        <div class="col-md-4 wow fadeInDown">
          <div class="clients-comments text-center">
            <img src="static/images/ventilation/toilet.png" class="img-circle" alt="">
            <h3><b>Туалеты</b></h3>
            <h4 class="text-justify">
                Канализационная система по умолчанию подразумевает необходимость
                наличия циркуляции воздуха, а, во-вторых, при отсутствии доступа
                и вытяжки воздуха со временем может появиться грибок,
                что может представлять угрозу здоровью жильцов.
            </h4>
            </div>
        </div>
        <div class="col-md-4 wow fadeInDown">
          <div class="clients-comments text-center">
            <img src="static/images/ventilation/kitchen.png" class="img-circle" alt="">
            <h3><b>Кухни</b></h3>
             <h4 class="text-justify">
                Вентиляция кухни в жилом помещении вещь необходимая.
                 Без вентиляции запах попадает из кухни в другие жилые комнаты -
                 спальню, детскую, гостиную. Также без надлежащей вытяжки непосредственно
                 над варочной поверхностью, возможно оседание жировых отложений на все
                 возможные поверхности - стены, мебель, технику, еду.
            </h4>
            </div>
        </div>
        <div class="col-md-4 wow fadeInDown">
          <div class="clients-comments text-center">
            <img src="static/images/ventilation/boilerhouse.png" class="img-circle" alt="">
            <h3><b>Котельные</b></h3>
            <h4 class="text-justify">
                Вентиляция в котельной регулирует концентрацию угарного газа.
                В процессе горения выделяются химические соединения, которые могут накапливаться в
                помещении. Превышение концентрации в воздухе угарного газа всего на 0,2% уже влечет
                за собой опасные последствия — потерю сознания, остановку дыхания.
                Также, вентиляция препятствует образованию обратной тяги и
                поставляет кислород, необходимый для функционирования отопительного оборудования.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section id="portfolio" style="margin-top: 0; padding-top: 0;">
        <div class="container">
            <a name="portfolio" class="anchor"> </a>
            <div class="center">
                <h2>Наши работы</h2>
                <p class="lead">Заказать проектирование, монтаж и наладку вентиляционной системы можно по
                    телефону +7 (911) 626-89-65</p>
            </div>

            {% include "photosgrid.html" %}

        </div>
    </section>

{% endblock %}