{% extends "layout.html" %}
{% block title %}static/static/images{% endblock %}
{% block page_content %}

    <section id="portfolio">
        <div class="container">
            <div class="center">
                <h2>Наши работы</h2>
                <p class="lead">Заказать комплексный профессиональный монтаж отопления</br>
                    или модернизацию старых сантехнических систем можно позвонив по телефону +7 (911) 626-89-65
                </p>
            </div>

            {% include "photosgrid.html" %}
        </div>
    </section>

{% endblock %}
