{% extends "layout.html" %}
{% block title %}Водоснабжение{% endblock %}
{% block page_content %}

    <section id="watersupply" class="service-item">
    <div class="container">
      <div class="center wow fadeInDown">
        <h2>Водоснабжение</h2>
        <p class="lead">
            Сегодня наличием водопровода в частном доме никого не удивишь,
            поскольку это уже далеко не роскошь, а жизненная необходимость.
            Понять все трудности неблагоустроенного дома могут только те, кому
            приходилось ежедневно носить ведра с водой из ближайшего колодца или колонки.
            И если на сегодняшний день у владельца нет возможности подключиться к
            централизованным магистралям, то ему приходиться самостоятельно решать эту
            проблему с помощью стандартной схемы автономного водопровода.
        </p>
          <p class="lead">
              Чтобы обеспечить дом водой необходимо определиться с источником воды
              (колодец, скважина, река или озеро, расположенное рядом).
                Основное различие в том, что вода из скважины более чистая,
              но и содержит больше  солей, которые в свою очередь, оседая
              на теплообменниках котлов, бойлеров и нагревательных элементах бытовой
              техники выводят их из строя, или требуют более частого технического обслуживания.
            Вода из колодца в основном лишена этого недостатка, но имеет больше примесей, содержащихся в грунтовых водах.

          </p>
         <a class="btn btn-primary readmore" href="#portfolio">Посмотреть наши работы <i class="fa fa-angle-right"></i></a>
       </div>

      <!--/.row-->
    </div>
    <!--/.container-->
  </section>
  <!--/#services-->
  <section id="feature" class="transparent-bg" style="padding-bottom: 0;">
       <div class="container">
       <div class="clients-area center wow fadeInDown">
        <h2>Выбираем насос для водоснабжения частного дома</h2>
        <p class="lead">
            Если не вдаваться в тонкости, то все насосы можно разбить на 2 типа – погружной
            и поверхностный.  У каждого из них имеются свои плюсы и минусы.
        </p>
      </div>

      <div class="row">
        <div class="col-md-6 wow fadeInDown">
          <div class="clients-comments text-center">
            <img src="static/images/watersupply/pump_up.png" class="img-circle" alt="">
            <h3><b>Поверхностные насосы</b></h3>
            <h4 class="text-justify">
                Отличаются стационарным монтажом и простотой обслуживания.
                Обладают максимальной глубиной всасывания до 10 метров,
                однако при первом запуске или после длительного простоя требуют
                дополнительной подготовки всей системы.
                Устанавливаются в утепленном помещении и издают шум во время работы.
            </h4>
          </div>
        </div>
        <div class="col-md-6 wow fadeInDown">
          <div class="clients-comments text-center">
            <img src="static/images/watersupply/pump_down.png" class="img-circle" alt="">
            <h3><b>Погружные насосы</b></h3>
             <h4 class="text-justify">
                 Опускаются в обсадную скважинную трубу или колодец.
                 Поскольку они полностью скрываются в воде,
                 то дополнительно обеспечивают низкий шумовой порог
                 и надежную защиту от перегрева.
                 Тем не менее при ремонте или профилактическом осмотре
                 не обойтись без подъема насоса из воды.
             </h4>
          </div>
        </div>
      </div>

       <div class="clients-area center wow fadeInDown" style="padding-top: 0;">
        <h2>Очистка воды</h2>
        <p class="lead">
            В основном, вода из наших водозаборов имеет показатели, позволяющие использовать
            её в хозяйственно-бытовых нуждах. Поэтому в качестве очистки применяют обычный
            магистральный фильтр с пропускной способностью 5 – 20 Микрон.
        </p>
        <p class="lead">
            Если этого недостаточно, то в зависимости от химико-биологических показателей
            применяются более дорогие фильтры с солями полифосфатами и пр.
      </div>
    </div>
    <!--/.container-->
  </section>

    <section id="portfolio" style="margin-top: 0; padding-top: 0;">
        <div class="container">
            <a name="portfolio" class="anchor"> </a>
            <div class="center">
                <h2>Наши работы</h2>
                <p class="lead">Заказать монтаж системы водоснабжения можно позвонив по телефону +7 (911) 626-89-65</p>
            </div>

            {% include "photosgrid.html" %}
        </div>
    </section>

{% endblock %}