<div class="row">
    <div class="portfolio-items">

        {% for photo in photos_list %}
            <div class="{{ 'portfolio-item apps col-xs-12 col-sm-4 col-md-3 ' + photo.group }}">
                <div class="recent-work-wrap">
                    <a class="preview" href="static/images/photos/full/{{ photo.filename }}" rel="prettyPhoto">
                        <img class="img-responsive" src="static/images/photos/preview/{{ photo.filename }}" alt="">
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>